a#top{
	display: block;
}

#booking{
	background: #eee;
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: 999;
	border-bottom: 1px solid #ddd;
	a{
	display: block;
	padding: 1rem 0;
	color: #fff !important;	
	@include linear-gradient(#cf1702, #ad1302);
	}
	
}

#body-content{
	padding-top: 4rem;

	.row{
		margin: 1rem auto;
	}
}

#hero-photo{
	text-align: center;
	background: url("http://placehold.it/400x300/999/777&text=background+photo") center top no-repeat;
	background-size: cover;
	background-position:center 50px;
	min-height: 300px;
}


#nav{
	text-align: center;
	@include link;
	
	a.nav-item+a.nav-item{
		border-top:none;
	}
	
	a.tel{
		@extend a;
		background: #eee;
		color: $link;
		border:1px solid #ccc;
	}
	
	a.tel:hover{
		background: #ddd;
	}
}

.footer{
	a.columns{
		text-align: center;
	}
	margin:1rem auto 3rem;
}